body,
html {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  font-family: "Oswald", sans-serif;
  background-color: #2f2f2f;
  scroll-behavior: smooth;
}

#bground {
  display: flex;
  background-image: url("images/Bg-Image-final.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 32em;
  width: 100%;
  height: max-content;
  background-attachment: fixed;
  justify-content: flex-start;
  align-items: center;
}

#quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  min-width: 14em;
  margin-left: 5%;
  background-image: linear-gradient(to bottom right,
      rgba(255, 255, 255, 0.4),
      rgba(114, 114, 114, 0.167));
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 0% 1% 1% 1%;
}

#qte {
  font-size: 200%;
  color: #ffcb74;
}

#goto {
  background-color: #4747477c;
  text-decoration: none;
  border-radius: 10px;
  color: #ffcb74;
  font-size: 230%;
  cursor: pointer;
}

#goto:hover {
  background-color: #474747a8;
}

#goto:active {
  background-color: #474747c8;
}

#proj-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#proj-head {
  color: #ffcb74;
  font-size: 350%;
}

#proj-subj {
  background-color: #474747;
  padding: 0% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  color: #f6f6f6;
  font-size: 180%;
}

#detection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#det-head {
  color: #ffcb74;
  font-size: 300%;
  line-height: 80%;
}

#photo {
  border-radius: 25px;
  box-shadow: 0px 15px 20px #000000;
  width: 40%;
  transform: scaleX(-1);
}

#camera-faces {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#camera-struct {
  display: none;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 550px) {
  #camera-struct {
    flex-direction: column;
  }
}

#choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
  width: 100%;
}

.choice-butt {
  background-color: #474747;
  font-size: 130%;
  color: #ffcb74;
  border-radius: 18px;
  border: none;
  padding: 1% 4% 1% 4%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 0px 8px 15px #000000;
}

@media only screen and (max-width: 550px) {
  .choice-butt {
    margin-top: 5%;
  }
}

.choice-butt:hover {
  background-color: #ffcb74;
  box-shadow: 0px 15px 20px #645741;
  color: #111111;
  transform: translateY(-7px);
}

.choice-butt:active {
  box-shadow: 0px 20px 15px #705d3c;
  transform: scale(0.90);
}

#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#contact-flex {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-entry {
  margin: 1% 0% 1% 0%;
  width: 100%;
  background-color: #ffcb74;
  color: #111111;
  font-size: large;
  height: 2.5em;
  border-radius: 10px;
  border-width: 0px;
  font-weight: bold;
}

#about {
  display: flex;
  margin-top: 5%;
  padding-bottom: 2%;
  flex-direction: column;
  align-items: center;
  background-color: #474747;
  color: #f6f6f6;
}

#name {
  font-size: 250%;
  line-height: 0%;
}

#proj-link {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 150%;
}