<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="../static/style.css" />
<script src="../static/app.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>

<head>
    <title>Face Detection</title>
</head>

<body>
    <div id="bground">
        <div id="quote">
            <p id="qte">Robots are not going to replace humans, they are going to make their jobs much more humane.</p>
            <a id="goto" onclick="ImidStrt()">Go To Detection</a>
        </div>
    </div>
    <div id="proj-desc">
        <p id="proj-head">Face Detection Using CNN</p>
        <div id="proj-subj">
            <p>Face detection is the task of identifying and localizing faces in images. It is a key
                step for many higher-level computer vision tasks. This project is using neural
                networks to detect criminal face.
            </p>
            <p>We want to help protect our citizens and make everyone feel safe by detecting
                suspicious faces and tagging any that look like they might be criminals in
                images. This will help keep people aware of who is around them and allow them
                to avoid being a victim of crime by accidently trusting the wrong person.
            </p>
            <p>Criminal Face Detection is a product that helps find criminals. The product has 3
                modes of detection: detection based on Convolutional Neural Networks(CNN) ,
                detection based on Multi-task Cascaded Convolutional Networks(MTCNN). The
                result is criminal's face recognition
            </p>
        </div>
    </div>
    <div id="detection">
        <p id="det-head">Facial Recognition</p>
        <div id="camera-faces">
            <div id="camera-struct">
                <div class="camera">
                    <video id="video" style="display: none;">Video stream not available.</video>
                </div>
                <canvas id="canvas" style="display: none;">
                </canvas>
                <img id="photo">
                <button class="choice-butt" id="stp-camera" style="display: none;" onclick="StopCamera()">Stop
                    Camera</button>
                <button class="choice-butt" id="stp-video" style="display: none;" onclick="StopVideo()">Stop
                    Video</button>
                <form>
                    <input type="file" id="inp" name="input_video" accept="video/mp4, video/mov" style="display: none;">
                    <input type="reset" id="vid-res" style="display: none;">
                </form>
            </div>
            <div id="rec-face" style="display: flex; flex-direction: column; align-items: center; margin-top: 5%;">
            <!-- <p class="face-name">Aryan</p>
            <p class="face-name">Tanishka</p> -->
            </div>
            <div id="choice">
                <button class="choice-butt" onclick="CameraStart()">Use Camera</button>
                <button class="choice-butt" onclick="VideoStart()">Input Video</button>
            </div>
        </div>
    </div>
    <p id="cont-head" style="text-align: center; color: #ffcb74; font-size: 280%; line-height: 80%;">Contact Me</p>
    <div id="contact">
        <form style="width: 100%; display: flex; justify-content: space-around;">
            <div id="contact-flex">
                <input type="text" class="contact-entry" id="fnme" placeholder="Name...">
                <input type="text" class="contact-entry" id="yrmail" placeholder="Mail...">
                <textarea id="message" class="contact-entry" placeholder="Message..." style="height: 10em;"></textarea>
            </div>
        </form>
        <button class="choice-butt" style="width: 20%; margin-top: 1%;" onclick="cnt_me()">Send</button>
    </div>
    <div id="about">
        <p id="name">Aryan Rishi Lamba</p>
        <a id="proj-link"
            href="https://github.com/the-horseman/Face-Detection">github.com/the-horseman/Face-Detection<a>
    </div>
</body>

</html>