<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>Face Detection</title>
</head>

<body>
    <div id="bground">
        <div id="quote">
            <p id="qte">Robots are not going to replace humans, they are going to make their jobs much more humane.</p>
            <a id="goto" href="#detection">Go To Detection</a>
        </div>
    </div>
    <div id="proj-desc">
        <p id="proj-head">Face Detection Using CNN</p>
        <div id="proj-subj">
            <p>Face detection is the task of identifying and localizing faces in images. It is a key
                step for many higher-level computer vision tasks. This project is using neural
                networks to detect criminal face.
            </p>
            <p>We want to help protect our citizens and make everyone feel safe by detecting
                suspicious faces and tagging any that look like they might be criminals in
                images. This will help keep people aware of who is around them and allow them
                to avoid being a victim of crime by accidently trusting the wrong person.
            </p>
            <p>Criminal Face Detection is a product that helps find criminals. The product has 3
                modes of detection: detection based on Convolutional Neural Networks(CNN) ,
                detection based on Multi-task Cascaded Convolutional Networks(MTCNN). The
                result is criminal's face recognition
            </p>
        </div>
    </div>
    <div id="detection">
        <p id="det-head">Facial Recognition</p>
        <div id="choice">
            <button class="choice-butt">Use Camera</button>
            <button class="choice-butt">Input Video</button>
        </div>
    </div>
    <div id="about">
        <p id="name">Aryan Rishi Lamba</p>
        <a id="proj-link" href="www.github.com/the-horseman/face-detection">www.github.com/the-horseman/face-detection<a>
    </div>
</body>

</html>